html {
  background-color: var(--bs-black);

  body {
    background: none !important;
    overflow-x: hidden;

    &.nav-fixed {
      padding-top: px(87);
    }
  }
}

::selection {
  color: var(--bs-white);
  background-color: rgba($violet, .8);
}

.page-anima {
  @include anima-fade-left;
}