html {
  background-color: var(--black);

  body {
    background: none !important;
    overflow-x: hidden;
  }
}

::selection {
  color: var(--white);
  background-color: rgba($violet-300, 0.5);
}

.page-anima {
  @include anima-fade-left;
}

.page-content {
  @include anima-basic;
}
