/*** 
  2.1 Color Pallets */

:root {
  //Variables
  @each $nameColor, $color in $colors {
    --#{$nameColor}: #{$color};

    @each $gradientsPositions, $value in $gradients {
      --gradient-#{$nameColor}-#{$gradientsPositions}: linear-gradient(
        #{$value},
        #{$color}00 20%,
        #{$color}ff 100%
      );
    }
  }
}

@each $prop, $color in $colors {
  .fill-#{$prop} {
    fill: $color;
  }

  .stroke-#{$prop} {
    stroke: $color;
  }

  .background-#{$prop} {
    background-color: $color;
  }

  .border-#{$prop} {
    border-color: $color;
  }
}
