html,
body {
  color: var(--bs-white);
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a,
:link {
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* Change autocomplete styles in WebKit */
input[data-autocompleted],
input:is(:-webkit-autofill, :autofill),
input:is(:-webkit-autofill, :autofill):hover, 
input:is(:-webkit-autofill, :autofill):focus,
input:is(:-webkit-autofill, :autofill):active,
input:is(:-webkit-autofill, :autofill):visited,
textarea[data-autocompleted],
textarea:is(:-webkit-autofill, :autofill),
textarea:is(:-webkit-autofill, :autofill):hover, 
textarea:is(:-webkit-autofill, :autofill):focus,
textarea:is(:-webkit-autofill, :autofill):active,
textarea:is(:-webkit-autofill, :autofill):visited,
select[data-autocompleted],
select:is(:-webkit-autofill, :autofill),
select:is(:-webkit-autofill, :autofill):hover, 
select:is(:-webkit-autofill, :autofill):focus,
select:is(:-webkit-autofill, :autofill):active,
select:is(:-webkit-autofill, :autofill):visited {
  border: none;
  background-color:transparent !important;
  -webkit-background-clip: text;
  @include prefix(text-fill-color, rgba($white, .5), moz webkit ms o);
  @include prefix(box-shadow, none, moz webkit ms o);
  @include prefix(transition, background-color 5000s ease-in-out 0s, moz webkit ms o);
}