.switch {
  display: block;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .mark {
    display: inline-block;
    position: relative;
    height: px(15);
    width: px(40);
    border-radius: px(100);
    vertical-align: middle;
    background-color: var(--white);
    @include anima-basic;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: calc(50% - px(11));
      width: px(22);
      height: px(22);
      border-radius: px(100);
      background: var(--white);
      @include shadow-basic(10px, right);
      @include anima-basic;
    }
  }

  &:hover input ~ .mark {
    background-color: darken($white, 5%);
  }

  input:checked ~ .mark {
    background-color: var(--green);

    &:after {
      display: block;
      left: calc(100% - px(22));
      background: var(--green);
      @include shadow-basic(10px, left);
      @include anima-basic;
    }
  }
}

.form {
  &-list {
    --list-group-bg: none;

    li {
      color: var(--white);
      border: none !important;
      padding: 8px 0;
    }
  }

  &-check {
    --markChecked: '\e941';
    --mark: '\e941';
    --markColorChecked: var(--white);
    --markColor: var(--white);
    --markBGChecked: var(--green);
    --markBG: var(--white);
    --markWidth: 20px;
    --markHeight: 20px;
    --markOpacityChecked: 1;
    --markOpacity: 0;
    --markFontSize: 1.8rem;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    padding: px(16) px(25);
    cursor: pointer;

    .mark {
      position: relative;
      display: inline-block;
      margin-right: px(15);
      width: var(--markWidth);
      height: var(--markHeight);
      border-radius: px(4);
      background: var(--markBG);
      @include anima-basic;

      &::before {
        content: var(--mark);
        @include fontIcon;
        display: block;
        color: var(--markColor);
        font-size: var(--markFontSize);
        position: absolute;
        top: px(-13);
        opacity: var(--markOpacity);
        @include anima-basic;
      }
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;

      &:checked {
        & ~ .mark {
          background: var(--markBGChecked);

          &::before {
            content: var(--markChecked);
            color: var(--markColorChecked);
            opacity: var(--markOpacityChecked);
          }
        }
      }
    }
  }

  &-control {
    padding: px(30) px(25) !important;
    height: auto !important;

    &:not(:placeholder-shown),
    &:focus {
      padding: px(40) px(25) px(20) px(25);
      @include prefix(box-shadow, none, moz webkit ms o);

      & ~ label {
        color: inherit !important;
        opacity: 0.3;

        &::after {
          background-color: transparent !important;
        }
      }
    }
  }

  &-control,
  &-control:focus {
    background: none;
    border: none;
    color: var(--white);
  }

  &-select {
    --form-select-bg-img: url('data:image/svg+xml,<!-- Generated by IcoMoon.io --><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>arrow-down-simple</title><path fill="%23f0f1f5" d="M21.609 13.057c-0.521-0.521-1.365-0.521-1.886 0l-3.724 3.724-3.724-3.724c-0.521-0.521-1.365-0.521-1.886 0s-0.521 1.365 0 1.886l4.667 4.667c0.521 0.521 1.365 0.521 1.886 0l4.667-4.667c0.521-0.521 0.521-1.365 0-1.886z"></path></svg>');
    background-image: var(--form-select-bg-img) !important;
    background-color: green !important;
    background-size: 30px 30px;
    text-align: left;
    background-position: right px(25) center;
    border: none;
    color: var(--white);
    padding: px(35) px(25) !important;
    height: auto !important;

    .label {
      .icon {
        padding-right: px(20);
      }
    }

    &:focus {
      background-color: transparent;
      border: none;
      @include prefix(box-shadow, none, moz webkit ms o);
      color: var(--white);
      --form-select-bg-img: url('data:image/svg+xml,<!-- Generated by IcoMoon.io --><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>arrow-up-simple</title><path fill="%23f0f1f5" d="M10.4 18.933c0.533 0.533 1.333 0.533 1.867 0l3.733-3.733 3.733 3.733c0.533 0.533 1.333 0.533 1.867 0s0.533-1.333 0-1.867l-4.667-4.667c-0.533-0.533-1.333-0.533-1.867 0l-4.667 4.667c-0.533 0.533-0.533 1.333 0 1.867z"></path></svg>');
    }
  }

  &-radio-input {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;

    input {
      position: absolute;
      @include prefix(transform, scale(0), moz webkit ms o);
      opacity: 0;

      &:checked ~ .mark {
        background-color: var(--green);

        &::after {
          opacity: 1;
        }
      }
    }

    .mark {
      position: relative;
      display: inline-block;
      width: px(20);
      height: px(20);
      margin: px(10) px(25);
      background-color: var(--white);
      @include prefix(border-radius, 0.5rem, moz webkit ms o);
      @include anima-basic;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: px(10);
        height: px(10);
        top: px(5);
        left: px(5);
        background-color: var(--white);
        opacity: 0;
        @include prefix(border-radius, 0.25rem, moz webkit ms o);
        @include anima-basic;
      }
    }
  }

  &-switch {
    min-width: px(40);
    padding: 0;

    input[type='checkbox'] {
      width: px(40);
      height: px(25);
      cursor: pointer;
      background-color: var(--black-600);
      border-color: var(--black);
      @include anima-basic;

      &:focus {
        box-shadow: none;
      }

      &:checked {
        background-color: var(--green);
      }
    }
  }
}

.action-password {
  position: absolute;
  display: block;
  font-size: px(26);
  bottom: 0;
  right: 0;
  padding: px(25);
  cursor: pointer;
  color: rgba($white, 0.5);
  @include anima-basic;

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    @include prefix(transform, translateY(-50%), moz webkit ms o);
    height: px(40);
    width: px(2);
    background-color: var(--cyan);
    opacity: 0.3;
  }

  &:hover {
    color: rgba($white, 1);
  }
}

.input-group-text {
  background: none;
  color: var(--white);
  border: none;
  padding: 0 0 0 px(25);
}

.input-group-select {
  display: flex;

  .form {
    &-floating {
      width: 100%;

      .dropdown-form-select {
        margin: 0 !important;
        padding: 0 !important;

        ul {
          list-style: none;

          li {
            cursor: pointer;
            padding: px(20) px(20);
            @include anima-basic;

            &:hover {
              background-color: var(--cyan);
              color: var(--black);
            }
          }
        }
      }
    }

    &-select {
      --form-select-bg-img: url('data:image/svg+xml,<!-- Generated by IcoMoon.io --><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>arrow-down-simple</title><path fill="%23f0f1f5" d="M21.609 13.057c-0.521-0.521-1.365-0.521-1.886 0l-3.724 3.724-3.724-3.724c-0.521-0.521-1.365-0.521-1.886 0s-0.521 1.365 0 1.886l4.667 4.667c0.521 0.521 1.365 0.521 1.886 0l4.667-4.667c0.521-0.521 0.521-1.365 0-1.886z"></path></svg>');
      background-image: var(--form-select-bg-img) !important;
      background-color: transparent !important;
      background-size: 30px 30px;
      text-align: left;
      background-position: right px(25) center;
      border: none;
      color: var(--white);
      padding: px(35) px(20) !important;
      height: auto !important;

      .placeholder-select {
        @include anima-basic;
        position: absolute;
        display: block;

        .icon {
          padding-right: px(20);
        }

        &.active {
          @include prefix(
            transform,
            translateY(-10px) translateX(-15px) scale(0.85),
            moz webkit ms o
          );
          opacity: 0.3;
        }
      }

      &:focus {
        background-color: transparent;
        border: none;
        @include prefix(box-shadow, none, moz webkit ms o);
        color: var(--white);
        --form-select-bg-img: url('data:image/svg+xml,<!-- Generated by IcoMoon.io --><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>arrow-up-simple</title><path fill="%23f0f1f5" d="M10.4 18.933c0.533 0.533 1.333 0.533 1.867 0l3.733-3.733 3.733 3.733c0.533 0.533 1.333 0.533 1.867 0s0.533-1.333 0-1.867l-4.667-4.667c-0.533-0.533-1.333-0.533-1.867 0l-4.667 4.667c-0.533 0.533-0.533 1.333 0 1.867z"></path></svg>');

        .placeholder-select {
          @include prefix(
            transform,
            translateY(-10px) translateX(-15px) scale(0.85),
            moz webkit ms o
          );
          opacity: 0.3;
        }
      }

      .select-option {
        display: block;
        min-height: px(21);
        @include prefix(transform, translateY(15px), moz webkit ms o);
      }
    }
  }
}

.error-message {
  position: absolute;
  display: flex;
  justify-items: center;
  font-size: px(13);
  padding: px(15) px(15);
  background: var(--black);
  z-index: 100;
  left: px(25);
  max-width: calc(100% - px(50));

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--black);
    width: px(26);
    height: px(26);
    left: px(45);
    top: px(-5);
    @include prefix(transform, rotate(45deg), moz webkit ms o);
    z-index: -1;
  }

  .icon {
    margin-right: px(10);
    padding-right: px(10);
    display: inline-block;
    position: relative;
    border-right: 2px solid rgba($white, 0.3);
  }
}

.form {
  &-floating {
    &-textarea {
      color: var(--white);

      textarea {
        background: var(--black-400) !important;
        padding-top: 0 !important;
        box-shadow: 0 px(-30) 0 0 var(--black-400) !important;
        margin-top: px(30);
      }

      label {
        margin-top: px(-30);
        color: var(--white-100) !important;
      }
    }
  }
}
