@font-face {
  font-family: 'Miraup Icon';
  src: url('/src/assets/img/icon/fonts/miraupicon.eot?1pk76i');
  src: url('/src/assets/img/icon/fonts/miraupicon.eot?1pk76i#iefix')
      format('embedded-opentype'),
    url('/src/assets/img/icon/fonts/miraupicon.ttf?1pk76i') format('truetype'),
    url('/src/assets/img/icon/fonts/miraupicon.woff?1pk76i') format('woff'),
    url('/src/assets/img/icon/fonts/miraupicon.svg?1pk76i#miraupicon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  vertical-align: middle;

  &.hover {
    @include anima-basic;
    cursor: pointer;

    &-Color:hover {
      color: var(--bs-cyan) !important;
    }

    &-Opacity:hover {
      opacity: 0.3;
    }

    &-Zoom,
    &-Rotation,
    &-ZoomRotation,
    &-Float {
      position: absolute;
    }

    &-Zoom:hover {
      @include anima-zoom;
    }

    &-Rotation:hover {
      @include anima-rotate;
    }

    &-ZoomRotation:hover {
      @include anima-rotate-zoom;
    }

    &-Float:hover {
      @include anima-float;
    }
  }

  &-animate {
    &-text {
      padding-right: 0 !important;
    }
  }
}

.icon-3d {
  &:before {
    content: $icon-3d;
  }
}
.icon-ae {
  &:before {
    content: $icon-ae;
  }
}
.icon-ai {
  &:before {
    content: $icon-ai;
  }
}
.icon-airplay {
  &:before {
    content: $icon-airplay;
  }
}
.icon-anchor {
  &:before {
    content: $icon-anchor;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-apple {
  &:before {
    content: $icon-apple;
  }
}
.icon-apple-fruit {
  &:before {
    content: $icon-apple-fruit;
  }
}
.icon-archive {
  &:before {
    content: $icon-archive;
  }
}
.icon-arrow-circling-two {
  &:before {
    content: $icon-arrow-circling-two;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-simple {
  &:before {
    content: $icon-arrow-down-simple;
  }
}
.icon-arrow-down-square {
  &:before {
    content: $icon-arrow-down-square;
  }
}
.icon-arrow-fullscreen {
  &:before {
    content: $icon-arrow-fullscreen;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-left-simple {
  &:before {
    content: $icon-arrow-left-simple;
  }
}
.icon-arrow-left-square {
  &:before {
    content: $icon-arrow-left-square;
  }
}
.icon-arrow-response {
  &:before {
    content: $icon-arrow-response;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-right-simple {
  &:before {
    content: $icon-arrow-right-simple;
  }
}
.icon-arrow-right-square {
  &:before {
    content: $icon-arrow-right-square;
  }
}
.icon-arrow-rotate-ccw {
  &:before {
    content: $icon-arrow-rotate-ccw;
  }
}
.icon-arrow-rotate-cw {
  &:before {
    content: $icon-arrow-rotate-cw;
  }
}
.icon-arrow-sync {
  &:before {
    content: $icon-arrow-sync;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-up-down-simple {
  &:before {
    content: $icon-arrow-up-down-simple;
  }
}
.icon-arrow-up-simple {
  &:before {
    content: $icon-arrow-up-simple;
  }
}
.icon-arrow-up-square {
  &:before {
    content: $icon-arrow-up-square;
  }
}
.icon-at {
  &:before {
    content: $icon-at;
  }
}
.icon-atm {
  &:before {
    content: $icon-atm;
  }
}
.icon-avocado {
  &:before {
    content: $icon-avocado;
  }
}
.icon-backward {
  &:before {
    content: $icon-backward;
  }
}
.icon-backward-5-sec {
  &:before {
    content: $icon-backward-5-sec;
  }
}
.icon-backward-10-sec {
  &:before {
    content: $icon-backward-10-sec;
  }
}
.icon-backward-15-sec {
  &:before {
    content: $icon-backward-15-sec;
  }
}
.icon-badge-discount {
  &:before {
    content: $icon-badge-discount;
  }
}
.icon-balance {
  &:before {
    content: $icon-balance;
  }
}
.icon-bank {
  &:before {
    content: $icon-bank;
  }
}
.icon-bank-note {
  &:before {
    content: $icon-bank-note;
  }
}
.icon-bar-01-average {
  &:before {
    content: $icon-bar-01-average;
  }
}
.icon-bar-01-down {
  &:before {
    content: $icon-bar-01-down;
  }
}
.icon-bar-01-up {
  &:before {
    content: $icon-bar-01-up;
  }
}
.icon-bar-02-average {
  &:before {
    content: $icon-bar-02-average;
  }
}
.icon-bar-02-down {
  &:before {
    content: $icon-bar-02-down;
  }
}
.icon-bar-02-up {
  &:before {
    content: $icon-bar-02-up;
  }
}
.icon-barcode {
  &:before {
    content: $icon-barcode;
  }
}
.icon-baseball-ball {
  &:before {
    content: $icon-baseball-ball;
  }
}
.icon-basketball-ball {
  &:before {
    content: $icon-basketball-ball;
  }
}
.icon-basketball-hoop {
  &:before {
    content: $icon-basketball-hoop;
  }
}
.icon-battery-0 {
  &:before {
    content: $icon-battery-0;
  }
}
.icon-battery-30 {
  &:before {
    content: $icon-battery-30;
  }
}
.icon-battery-60 {
  &:before {
    content: $icon-battery-60;
  }
}
.icon-battery-100 {
  &:before {
    content: $icon-battery-100;
  }
}
.icon-beaker {
  &:before {
    content: $icon-beaker;
  }
}
.icon-behance {
  &:before {
    content: $icon-behance;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-bell-off {
  &:before {
    content: $icon-bell-off;
  }
}
.icon-bin {
  &:before {
    content: $icon-bin;
  }
}
.icon-blank {
  &:before {
    content: $icon-blank;
  }
}
.icon-blender {
  &:before {
    content: $icon-blender;
  }
}
.icon-bluetooth {
  &:before {
    content: $icon-bluetooth;
  }
}
.icon-bold {
  &:before {
    content: $icon-bold;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-bookmark-filled {
  &:before {
    content: $icon-bookmark-filled;
  }
}
.icon-bookmark-less {
  &:before {
    content: $icon-bookmark-less;
  }
}
.icon-bookmark-plus {
  &:before {
    content: $icon-bookmark-plus;
  }
}
.icon-bot {
  &:before {
    content: $icon-bot;
  }
}
.icon-bowling-ball {
  &:before {
    content: $icon-bowling-ball;
  }
}
.icon-boxes {
  &:before {
    content: $icon-boxes;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-brightness-down {
  &:before {
    content: $icon-brightness-down;
  }
}
.icon-brightness-up {
  &:before {
    content: $icon-brightness-up;
  }
}
.icon-brush {
  &:before {
    content: $icon-brush;
  }
}
.icon-bubble-race {
  &:before {
    content: $icon-bubble-race;
  }
}
.icon-building {
  &:before {
    content: $icon-building;
  }
}
.icon-burger {
  &:before {
    content: $icon-burger;
  }
}
.icon-burger-menu {
  &:before {
    content: $icon-burger-menu;
  }
}
.icon-cabinet-files {
  &:before {
    content: $icon-cabinet-files;
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-candlesticks {
  &:before {
    content: $icon-candlesticks;
  }
}
.icon-candlesticks-down {
  &:before {
    content: $icon-candlesticks-down;
  }
}
.icon-candlesticks-up {
  &:before {
    content: $icon-candlesticks-up;
  }
}
.icon-car {
  &:before {
    content: $icon-car;
  }
}
.icon-carrot {
  &:before {
    content: $icon-carrot;
  }
}
.icon-case {
  &:before {
    content: $icon-case;
  }
}
.icon-case-edical {
  &:before {
    content: $icon-case-edical;
  }
}
.icon-chart-bar {
  &:before {
    content: $icon-chart-bar;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-cinema-4d {
  &:before {
    content: $icon-cinema-4d;
  }
}
.icon-circle {
  &:before {
    content: $icon-circle;
  }
}
.icon-circle-square {
  &:before {
    content: $icon-circle-square;
  }
}
.icon-circular-01 {
  &:before {
    content: $icon-circular-01;
  }
}
.icon-circular-02 {
  &:before {
    content: $icon-circular-02;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.icon-close-square {
  &:before {
    content: $icon-close-square;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-cloud-down {
  &:before {
    content: $icon-cloud-down;
  }
}
.icon-cloud-up {
  &:before {
    content: $icon-cloud-up;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-code-box {
  &:before {
    content: $icon-code-box;
  }
}
.icon-coffe {
  &:before {
    content: $icon-coffe;
  }
}
.icon-coin {
  &:before {
    content: $icon-coin;
  }
}
.icon-coins {
  &:before {
    content: $icon-coins;
  }
}
.icon-column-01-average {
  &:before {
    content: $icon-column-01-average;
  }
}
.icon-column-01-down {
  &:before {
    content: $icon-column-01-down;
  }
}
.icon-column-01-up {
  &:before {
    content: $icon-column-01-up;
  }
}
.icon-column-02-average {
  &:before {
    content: $icon-column-02-average;
  }
}
.icon-column-02-down {
  &:before {
    content: $icon-column-02-down;
  }
}
.icon-column-02-up {
  &:before {
    content: $icon-column-02-up;
  }
}
.icon-column-line-down {
  &:before {
    content: $icon-column-line-down;
  }
}
.icon-column-line-up {
  &:before {
    content: $icon-column-line-up;
  }
}
.icon-command {
  &:before {
    content: $icon-command;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-communism {
  &:before {
    content: $icon-communism;
  }
}
.icon-computer-mouse {
  &:before {
    content: $icon-computer-mouse;
  }
}
.icon-contrast {
  &:before {
    content: $icon-contrast;
  }
}
.icon-controller {
  &:before {
    content: $icon-controller;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-copyright {
  &:before {
    content: $icon-copyright;
  }
}
.icon-coupon-discount {
  &:before {
    content: $icon-coupon-discount;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-crop-tool {
  &:before {
    content: $icon-crop-tool;
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;
  }
}
.icon-cup {
  &:before {
    content: $icon-cup;
  }
}
.icon-cup-top-go {
  &:before {
    content: $icon-cup-top-go;
  }
}
.icon-current {
  &:before {
    content: $icon-current;
  }
}
.icon-current-broken {
  &:before {
    content: $icon-current-broken;
  }
}
.icon-darts {
  &:before {
    content: $icon-darts;
  }
}
.icon-database {
  &:before {
    content: $icon-database;
  }
}
.icon-delivery-truck {
  &:before {
    content: $icon-delivery-truck;
  }
}
.icon-design-grid {
  &:before {
    content: $icon-design-grid;
  }
}
.icon-discount {
  &:before {
    content: $icon-discount;
  }
}
.icon-doc {
  &:before {
    content: $icon-doc;
  }
}
.icon-donut {
  &:before {
    content: $icon-donut;
  }
}
.icon-doughnut {
  &:before {
    content: $icon-doughnut;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble;
  }
}
.icon-earphones {
  &:before {
    content: $icon-earphones;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-eject {
  &:before {
    content: $icon-eject;
  }
}
.icon-electrical-plug {
  &:before {
    content: $icon-electrical-plug;
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-email-block {
  &:before {
    content: $icon-email-block;
  }
}
.icon-email-check {
  &:before {
    content: $icon-email-check;
  }
}
.icon-email-minus {
  &:before {
    content: $icon-email-minus;
  }
}
.icon-email-notification {
  &:before {
    content: $icon-email-notification;
  }
}
.icon-email-plus {
  &:before {
    content: $icon-email-plus;
  }
}
.icon-email-read {
  &:before {
    content: $icon-email-read;
  }
}
.icon-equation {
  &:before {
    content: $icon-equation;
  }
}
.icon-eraser {
  &:before {
    content: $icon-eraser;
  }
}
.icon-exit-full-screen {
  &:before {
    content: $icon-exit-full-screen;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-close {
  &:before {
    content: $icon-eye-close;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-fast-backward {
  &:before {
    content: $icon-fast-backward;
  }
}
.icon-fast-forward {
  &:before {
    content: $icon-fast-forward;
  }
}
.icon-fencing {
  &:before {
    content: $icon-fencing;
  }
}
.icon-figma {
  &:before {
    content: $icon-figma;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-file-alert {
  &:before {
    content: $icon-file-alert;
  }
}
.icon-file-archive {
  &:before {
    content: $icon-file-archive;
  }
}
.icon-file-chart {
  &:before {
    content: $icon-file-chart;
  }
}
.icon-file-chart-line {
  &:before {
    content: $icon-file-chart-line;
  }
}
.icon-file-check {
  &:before {
    content: $icon-file-check;
  }
}
.icon-file-code {
  &:before {
    content: $icon-file-code;
  }
}
.icon-file-cross {
  &:before {
    content: $icon-file-cross;
  }
}
.icon-file-document {
  &:before {
    content: $icon-file-document;
  }
}
.icon-file-download {
  &:before {
    content: $icon-file-download;
  }
}
.icon-file-erase {
  &:before {
    content: $icon-file-erase;
  }
}
.icon-file-image {
  &:before {
    content: $icon-file-image;
  }
}
.icon-file-minus {
  &:before {
    content: $icon-file-minus;
  }
}
.icon-file-music {
  &:before {
    content: $icon-file-music;
  }
}
.icon-file-php {
  &:before {
    content: $icon-file-php;
  }
}
.icon-file-plus {
  &:before {
    content: $icon-file-plus;
  }
}
.icon-file-search {
  &:before {
    content: $icon-file-search;
  }
}
.icon-file-star {
  &:before {
    content: $icon-file-star;
  }
}
.icon-file-svg {
  &:before {
    content: $icon-file-svg;
  }
}
.icon-file-table {
  &:before {
    content: $icon-file-table;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-file-upload {
  &:before {
    content: $icon-file-upload;
  }
}
.icon-file-video {
  &:before {
    content: $icon-file-video;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;
  }
}
.icon-fingerprint {
  &:before {
    content: $icon-fingerprint;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-flag-filled {
  &:before {
    content: $icon-flag-filled;
  }
}
.icon-flash-drive {
  &:before {
    content: $icon-flash-drive;
  }
}
.icon-flip-chart {
  &:before {
    content: $icon-flip-chart;
  }
}
.icon-floppy-disk {
  &:before {
    content: $icon-floppy-disk;
  }
}
.icon-flutter {
  &:before {
    content: $icon-flutter;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folder-document {
  &:before {
    content: $icon-folder-document;
  }
}
.icon-folder-document-plus {
  &:before {
    content: $icon-folder-document-plus;
  }
}
.icon-font {
  &:before {
    content: $icon-font;
  }
}
.icon-fork-knife {
  &:before {
    content: $icon-fork-knife;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;
  }
}
.icon-forward-5-sec {
  &:before {
    content: $icon-forward-5-sec;
  }
}
.icon-forward-10-sec {
  &:before {
    content: $icon-forward-10-sec;
  }
}
.icon-forward-15-sec {
  &:before {
    content: $icon-forward-15-sec;
  }
}
.icon-fottball-ball {
  &:before {
    content: $icon-fottball-ball;
  }
}
.icon-foursquare {
  &:before {
    content: $icon-foursquare;
  }
}
.icon-french-fries {
  &:before {
    content: $icon-french-fries;
  }
}
.icon-full-screen {
  &:before {
    content: $icon-full-screen;
  }
}
.icon-gear {
  &:before {
    content: $icon-gear;
  }
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-glass {
  &:before {
    content: $icon-glass;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-gold {
  &:before {
    content: $icon-gold;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-grid-horizontal {
  &:before {
    content: $icon-grid-horizontal;
  }
}
.icon-grid-vertical {
  &:before {
    content: $icon-grid-vertical;
  }
}
.icon-group-user {
  &:before {
    content: $icon-group-user;
  }
}
.icon-hand-cart {
  &:before {
    content: $icon-hand-cart;
  }
}
.icon-hand-no-ok {
  &:before {
    content: $icon-hand-no-ok;
  }
}
.icon-hand-ok {
  &:before {
    content: $icon-hand-ok;
  }
}
.icon-hand-sanitizer {
  &:before {
    content: $icon-hand-sanitizer;
  }
}
.icon-hand-shake {
  &:before {
    content: $icon-hand-shake;
  }
}
.icon-hastag {
  &:before {
    content: $icon-hastag;
  }
}
.icon-hat-chef {
  &:before {
    content: $icon-hat-chef;
  }
}
.icon-headings {
  &:before {
    content: $icon-headings;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-heart-filled {
  &:before {
    content: $icon-heart-filled;
  }
}
.icon-heart-rate {
  &:before {
    content: $icon-heart-rate;
  }
}
.icon-hockey {
  &:before {
    content: $icon-hockey;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-hospital-building {
  &:before {
    content: $icon-hospital-building;
  }
}
.icon-hourglass {
  &:before {
    content: $icon-hourglass;
  }
}
.icon-html-5 {
  &:before {
    content: $icon-html-5;
  }
}
.icon-ia {
  &:before {
    content: $icon-ia;
  }
}
.icon-icon-cream {
  &:before {
    content: $icon-icon-cream;
  }
}
.icon-id {
  &:before {
    content: $icon-id;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-image-block {
  &:before {
    content: $icon-image-block;
  }
}
.icon-image-check {
  &:before {
    content: $icon-image-check;
  }
}
.icon-image-minus {
  &:before {
    content: $icon-image-minus;
  }
}
.icon-image-plus {
  &:before {
    content: $icon-image-plus;
  }
}
.icon-imlle-frown {
  &:before {
    content: $icon-imlle-frown;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-insert {
  &:before {
    content: $icon-insert;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-intravenous-therapy {
  &:before {
    content: $icon-intravenous-therapy;
  }
}
.icon-italic {
  &:before {
    content: $icon-italic;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-keyboard {
  &:before {
    content: $icon-keyboard;
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}
.icon-library-album {
  &:before {
    content: $icon-library-album;
  }
}
.icon-library-video {
  &:before {
    content: $icon-library-video;
  }
}
.icon-light-bulb {
  &:before {
    content: $icon-light-bulb;
  }
}
.icon-lightning {
  &:before {
    content: $icon-lightning;
  }
}
.icon-line-01-down {
  &:before {
    content: $icon-line-01-down;
  }
}
.icon-line-01-up {
  &:before {
    content: $icon-line-01-up;
  }
}
.icon-line-02-down {
  &:before {
    content: $icon-line-02-down;
  }
}
.icon-line-02-up {
  &:before {
    content: $icon-line-02-up;
  }
}
.icon-line-03-down {
  &:before {
    content: $icon-line-03-down;
  }
}
.icon-line-03-up {
  &:before {
    content: $icon-line-03-up;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-list-bullet {
  &:before {
    content: $icon-list-bullet;
  }
}
.icon-list-number {
  &:before {
    content: $icon-list-number;
  }
}
.icon-loading {
  &:before {
    content: $icon-loading;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-lollipop {
  &:before {
    content: $icon-lollipop;
  }
}
.icon-magento {
  &:before {
    content: $icon-magento;
  }
}
.icon-map {
  &:before {
    content: $icon-map;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-medical-chart {
  &:before {
    content: $icon-medical-chart;
  }
}
.icon-medical-mask {
  &:before {
    content: $icon-medical-mask;
  }
}
.icon-medicine-bottle {
  &:before {
    content: $icon-medicine-bottle;
  }
}
.icon-megaphone {
  &:before {
    content: $icon-megaphone;
  }
}
.icon-messenger {
  &:before {
    content: $icon-messenger;
  }
}
.icon-microchip {
  &:before {
    content: $icon-microchip;
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-modem {
  &:before {
    content: $icon-modem;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-moon {
  &:before {
    content: $icon-moon;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-movie {
  &:before {
    content: $icon-movie;
  }
}
.icon-music {
  &:before {
    content: $icon-music;
  }
}
.icon-music-simple {
  &:before {
    content: $icon-music-simple;
  }
}
.icon-netflix {
  &:before {
    content: $icon-netflix;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-offcanvas-left-arrow-left {
  &:before {
    content: $icon-offcanvas-left-arrow-left;
  }
}
.icon-offcanvas-left-arrow-right {
  &:before {
    content: $icon-offcanvas-left-arrow-right;
  }
}
.icon-offcanvas-right-arrow-left {
  &:before {
    content: $icon-offcanvas-right-arrow-left;
  }
}
.icon-offcanvas-right-arrow-right {
  &:before {
    content: $icon-offcanvas-right-arrow-right;
  }
}
.icon-option {
  &:before {
    content: $icon-option;
  }
}
.icon-options-square {
  &:before {
    content: $icon-options-square;
  }
}
.icon-out {
  &:before {
    content: $icon-out;
  }
}
.icon-paint-bucket {
  &:before {
    content: $icon-paint-bucket;
  }
}
.icon-paint-roller {
  &:before {
    content: $icon-paint-roller;
  }
}
.icon-palette {
  &:before {
    content: $icon-palette;
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}
.icon-password-field {
  &:before {
    content: $icon-password-field;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pause-circle {
  &:before {
    content: $icon-pause-circle;
  }
}
.icon-pear {
  &:before {
    content: $icon-pear;
  }
}
.icon-pen {
  &:before {
    content: $icon-pen;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-perspective {
  &:before {
    content: $icon-perspective;
  }
}
.icon-petri-dish {
  &:before {
    content: $icon-petri-dish;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-picker {
  &:before {
    content: $icon-picker;
  }
}
.icon-picture-in-picture {
  &:before {
    content: $icon-picture-in-picture;
  }
}
.icon-pie-01 {
  &:before {
    content: $icon-pie-01;
  }
}
.icon-pie-02 {
  &:before {
    content: $icon-pie-02;
  }
}
.icon-pie-03 {
  &:before {
    content: $icon-pie-03;
  }
}
.icon-pill {
  &:before {
    content: $icon-pill;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-pin-stuck {
  &:before {
    content: $icon-pin-stuck;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-pizza-slice {
  &:before {
    content: $icon-pizza-slice;
  }
}
.icon-platch {
  &:before {
    content: $icon-platch;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-play-cicle {
  &:before {
    content: $icon-play-cicle;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-ppt {
  &:before {
    content: $icon-ppt;
  }
}
.icon-previous {
  &:before {
    content: $icon-previous;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-product-hunt {
  &:before {
    content: $icon-product-hunt;
  }
}
.icon-psd {
  &:before {
    content: $icon-psd;
  }
}
.icon-qrcode {
  &:before {
    content: $icon-qrcode;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-ray {
  &:before {
    content: $icon-ray;
  }
}
.icon-react {
  &:before {
    content: $icon-react;
  }
}
.icon-rec {
  &:before {
    content: $icon-rec;
  }
}
.icon-receipt {
  &:before {
    content: $icon-receipt;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-remake {
  &:before {
    content: $icon-remake;
  }
}
.icon-route {
  &:before {
    content: $icon-route;
  }
}
.icon-safe {
  &:before {
    content: $icon-safe;
  }
}
.icon-salt-shaker {
  &:before {
    content: $icon-salt-shaker;
  }
}
.icon-sass {
  &:before {
    content: $icon-sass;
  }
}
.icon-scale {
  &:before {
    content: $icon-scale;
  }
}
.icon-scatter-down {
  &:before {
    content: $icon-scatter-down;
  }
}
.icon-scatter-up {
  &:before {
    content: $icon-scatter-up;
  }
}
.icon-scoreboard {
  &:before {
    content: $icon-scoreboard;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-search-minus {
  &:before {
    content: $icon-search-minus;
  }
}
.icon-search-plus {
  &:before {
    content: $icon-search-plus;
  }
}
.icon-send-in-square {
  &:before {
    content: $icon-send-in-square;
  }
}
.icon-serving-plate {
  &:before {
    content: $icon-serving-plate;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-settings-01 {
  &:before {
    content: $icon-settings-01;
  }
}
.icon-settings-02 {
  &:before {
    content: $icon-settings-02;
  }
}
.icon-share-copy {
  &:before {
    content: $icon-share-copy;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-share-square {
  &:before {
    content: $icon-share-square;
  }
}
.icon-shethoscope {
  &:before {
    content: $icon-shethoscope;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-shield-off {
  &:before {
    content: $icon-shield-off;
  }
}
.icon-shop {
  &:before {
    content: $icon-shop;
  }
}
.icon-shopping-bag {
  &:before {
    content: $icon-shopping-bag;
  }
}
.icon-shopping-basket {
  &:before {
    content: $icon-shopping-basket;
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-shopping-tag {
  &:before {
    content: $icon-shopping-tag;
  }
}
.icon-shorts {
  &:before {
    content: $icon-shorts;
  }
}
.icon-signal {
  &:before {
    content: $icon-signal;
  }
}
.icon-sketch {
  &:before {
    content: $icon-sketch;
  }
}
.icon-slice-tool {
  &:before {
    content: $icon-slice-tool;
  }
}
.icon-smart-watch {
  &:before {
    content: $icon-smart-watch;
  }
}
.icon-smile {
  &:before {
    content: $icon-smile;
  }
}
.icon-smile-passionate {
  &:before {
    content: $icon-smile-passionate;
  }
}
.icon-smille-big {
  &:before {
    content: $icon-smille-big;
  }
}
.icon-smille-blink {
  &:before {
    content: $icon-smille-blink;
  }
}
.icon-smille-burglar {
  &:before {
    content: $icon-smille-burglar;
  }
}
.icon-smille-dead {
  &:before {
    content: $icon-smille-dead;
  }
}
.icon-smille-glasses {
  &:before {
    content: $icon-smille-glasses;
  }
}
.icon-smille-meh {
  &:before {
    content: $icon-smille-meh;
  }
}
.icon-smille-sad {
  &:before {
    content: $icon-smille-sad;
  }
}
.icon-smille-surprised {
  &:before {
    content: $icon-smille-surprised;
  }
}
.icon-soccer-field {
  &:before {
    content: $icon-soccer-field;
  }
}
.icon-socket {
  &:before {
    content: $icon-socket;
  }
}
.icon-socket-conected {
  &:before {
    content: $icon-socket-conected;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.icon-soundcloud {
  &:before {
    content: $icon-soundcloud;
  }
}
.icon-soup {
  &:before {
    content: $icon-soup;
  }
}
.icon-speak {
  &:before {
    content: $icon-speak;
  }
}
.icon-speakers {
  &:before {
    content: $icon-speakers;
  }
}
.icon-speak-less {
  &:before {
    content: $icon-speak-less;
  }
}
.icon-speak-plus {
  &:before {
    content: $icon-speak-plus;
  }
}
.icon-sports-flag {
  &:before {
    content: $icon-sports-flag;
  }
}
.icon-sports-flag-filled {
  &:before {
    content: $icon-sports-flag-filled;
  }
}
.icon-stacked-area-down {
  &:before {
    content: $icon-stacked-area-down;
  }
}
.icon-stacked-area-up {
  &:before {
    content: $icon-stacked-area-up;
  }
}
.icon-stacked-column-01-average {
  &:before {
    content: $icon-stacked-column-01-average;
  }
}
.icon-stacked-column-01-down {
  &:before {
    content: $icon-stacked-column-01-down;
  }
}
.icon-stacked-column-01-up {
  &:before {
    content: $icon-stacked-column-01-up;
  }
}
.icon-stacked-column-02-average {
  &:before {
    content: $icon-stacked-column-02-average;
  }
}
.icon-stacked-column-02-down {
  &:before {
    content: $icon-stacked-column-02-down;
  }
}
.icon-stacked-column-02-up {
  &:before {
    content: $icon-stacked-column-02-up;
  }
}
.icon-standings {
  &:before {
    content: $icon-standings;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled;
  }
}
.icon-stichy-note {
  &:before {
    content: $icon-stichy-note;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;
  }
}
.icon-stop-circle {
  &:before {
    content: $icon-stop-circle;
  }
}
.icon-stopwatch {
  &:before {
    content: $icon-stopwatch;
  }
}
.icon-stretch-height {
  &:before {
    content: $icon-stretch-height;
  }
}
.icon-stretch-width {
  &:before {
    content: $icon-stretch-width;
  }
}
.icon-subtitles {
  &:before {
    content: $icon-subtitles;
  }
}
.icon-svg {
  &:before {
    content: $icon-svg;
  }
}
.icon-syringe {
  &:before {
    content: $icon-syringe;
  }
}
.icon-table {
  &:before {
    content: $icon-table;
  }
}
.icon-table-tennis {
  &:before {
    content: $icon-table-tennis;
  }
}
.icon-tablets {
  &:before {
    content: $icon-tablets;
  }
}
.icon-tea {
  &:before {
    content: $icon-tea;
  }
}
.icon-test-tube {
  &:before {
    content: $icon-test-tube;
  }
}
.icon-text {
  &:before {
    content: $icon-text;
  }
}
.icon-text-aling-center {
  &:before {
    content: $icon-text-aling-center;
  }
}
.icon-text-aling-justified {
  &:before {
    content: $icon-text-aling-justified;
  }
}
.icon-text-aling-left {
  &:before {
    content: $icon-text-aling-left;
  }
}
.icon-text-aling-right {
  &:before {
    content: $icon-text-aling-right;
  }
}
.icon-text-field {
  &:before {
    content: $icon-text-field;
  }
}
.icon-text-paragraph {
  &:before {
    content: $icon-text-paragraph;
  }
}
.icon-thermometer {
  &:before {
    content: $icon-thermometer;
  }
}
.icon-thermometer_1 {
  &:before {
    content: $icon-thermometer_1;
  }
}
.icon-tie {
  &:before {
    content: $icon-tie;
  }
}
.icon-tiktok {
  &:before {
    content: $icon-tiktok;
  }
}
.icon-toilet-paper {
  &:before {
    content: $icon-toilet-paper;
  }
}
.icon-toothbrush {
  &:before {
    content: $icon-toothbrush;
  }
}
.icon-tree-leaf {
  &:before {
    content: $icon-tree-leaf;
  }
}
.icon-trello {
  &:before {
    content: $icon-trello;
  }
}
.icon-triangle-ruler {
  &:before {
    content: $icon-triangle-ruler;
  }
}
.icon-t-shirt {
  &:before {
    content: $icon-t-shirt;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-umbrella {
  &:before {
    content: $icon-umbrella;
  }
}
.icon-underlined {
  &:before {
    content: $icon-underlined;
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-block {
  &:before {
    content: $icon-user-block;
  }
}
.icon-user-check {
  &:before {
    content: $icon-user-check;
  }
}
.icon-user-minus {
  &:before {
    content: $icon-user-minus;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-user-search {
  &:before {
    content: $icon-user-search;
  }
}
.icon-vector-edit {
  &:before {
    content: $icon-vector-edit;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-virus {
  &:before {
    content: $icon-virus;
  }
}
.icon-volume {
  &:before {
    content: $icon-volume;
  }
}
.icon-volume-down {
  &:before {
    content: $icon-volume-down;
  }
}
.icon-volume-mute {
  &:before {
    content: $icon-volume-mute;
  }
}
.icon-volume-up {
  &:before {
    content: $icon-volume-up;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
.icon-weight {
  &:before {
    content: $icon-weight;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-whistle {
  &:before {
    content: $icon-whistle;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}
.icon-window {
  &:before {
    content: $icon-window;
  }
}
.icon-wine-glass {
  &:before {
    content: $icon-wine-glass;
  }
}
.icon-within {
  &:before {
    content: $icon-within;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-xd {
  &:before {
    content: $icon-xd;
  }
}
.icon-xls {
  &:before {
    content: $icon-xls;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
