.page-favorites {
  @include media-breakpoint-down(sm) {
    #asideMenu {
      display: none !important;
    }

    .fixed-top {
      display: block !important;
      position: fixed !important;
    }

    &::before {
      display: none;
    }
  }

  &-menu {
    .col-lg-4 {
      width: 50%;

      &:nth-child(1) {
        display: none !important;
      }
      &:nth-child(2) {
        &::before {
          display: none !important;
        }
      }
    }
  }
}
